project: 2DGameCore

// File logging
log-file: C:\Users\Andrea Rossi\Desktop
log-file-enable: false

//resources
maps: .\res\maps\
entities: .\res\entities\
images: .\res\images\
sounds: .\res\sounds\
musics: .\res\musics\
scripts: .\res\scripts\
fonts: .\res\fonts\
autotiles: .\res\autotiles\

// Screen config
screen.title: 2DGameCore - Test
screen.max-fps: 60
screen.content.tile-size: 16
screen.content.tile-resize: 4
screen.content.tiles: 15,9
screen.fade-in: 20

// Game
game.active-map: test_map2

// Scripts
script-file-extension: scp
script-default-wait: 1

// Autotiles
autotile-file-extension: atile